/* Navbar Styling */
body{
  background-color:#333;
}

  /* Hero Section Styling */
  .hero-section {
    text-align: center;
    padding: 50px;
    background-color: #b93636;
    color: #333;
  }
  
  .hero-section h1 {
    font-size: 48px;
    margin-bottom: 10px;
  }
  
  .hero-section p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .cta-button {
    padding: 10px 20px;
    background-color: #00bcd4;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .cta-button:hover {
    background-color: #0288d1;
  }
  
  /* Footer Styling */
  .footer {
    text-align: center;
    padding: 10px;
    background-color: #282c34;
    color: #fff;
    width: 100%;
    bottom: 0;
  }
  